
.geologica{
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

header {
    color: white;
    padding: 40px;
    padding-top: 40px;
    text-align: center;
    font-family: Geologica, Helvetica, Arial, sans-serif;
    margin-top: -10px;
    margin-left:-10px;
    margin-right: -10px;
}
.subheader {
    background-color: green;
    background-image: url('images/Tractor_New_Holland_T6.165_plowing_(Zadobrova,_Ljubljana).jpg');
    background-repeat: no-repeat;
    background-size:cover;
    mask-image: linear-gradient(to bottom, transparent 10%, green 90%);
    height: 900px
}
h1{
    margin-top:40px;
    font-size: 50px;
}

.subtítulo{
    font-size: 25px;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    color:rgb(255, 255, 255);
}

body {
    background-color: green;
    
}

section {
    font-family: Geologica;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 90px;
    height: 1060px;
    margin-left:-10px;
    margin-right: -10px;
    
}
.A{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
.B{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}
.C{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}

footer {
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-family: Geologica, Helvetica, Arial, sans-serif;
    margin-left:-10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.text{
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: justify;
    font-size:larger;
    line-height: 30px;
 }
