header {
    color: white;
    background-color: rgb(31, 107, 1);
    padding: 20px;
    text-align: center;
    font-family: Helvetica
}

body {
    background-color: rgba(202, 235, 190, 0.877);
    
}

section {
    /*margin-left: 50px;*/
    font-family: Helvetica;
    color: black;
    margin-bottom: 70px;
    text-align: center;
    
}


footer {
    background-color: rgb(31, 107, 1);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Helvetica;
}
 .text{
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 25px;
    text-align: justify;
    font-size:larger;
 }
